<div *ngIf="band == true">
    <div class="my-3">
        <div class="card text-center text-white bg-dark mb-3" *ngIf="usuario.alumno.cuotas.length==0">
            <div class="card-header">GIMNASIO</div>
            <div class="card-body">
                <h5 class="card-title">Lo sentimos {{loginService.userLogged()}}!</h5>
                <p class="card-text">No tenés ninguna cuota todavía</p>
            </div>
        </div>
    </div>

    <div class="my-3" *ngIf="usuario.alumno.cuotas.length !=0">
        <div class="card text-white bg-dark mb-3 my-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-white" [mfData]="cuotas" #mf="mfDataTable" [mfRowsOnPage]="5">
                        <thead>
                            <tr>
                                <!-- <th scope="col">#</th> -->
                                <th scope="col">Fecha</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Modo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cuota of mf.data">
                                <!-- <th scope="row">1</th> -->
                                <td>{{cuota.fechaPago}}</td>
                                <td>{{cuota.monto|precio}}</td>
                                <td>{{cuota.modoPago}}</td>
                            </tr>
                        </tbody>
                        <div>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>