.bg-dark {
    background-color: #191c24 !important;
}

.table {
    font-size: 0.875rem;
}

.form-control {
    /* color: #495057; */
    color: #ffffff;
    background-color: #2A3038;
    border: 1px solid #2c2e33;
}

.form-select {
    /* color: #495057; */
    color: #ffffff;
    background-color: #2A3038;
    border: 1px solid #2c2e33;
}