.bg-dark {
    background-color: #191c24 !important;
}

.form-control {
    color: #ffffff;
    background-color: #2A3038;
    border: 1px solid #2c2e33;
}

/* .content-wrapper {
    width: 100%;
    height: 100%;
    max-width: none;
} */

input::-ms-clear, input::-ms-reveal {
    display: none;
}